/* Color */
.text-light {
    color: #F6FFFE !important;
}

.text-dark {
    color: #242629 !important;
}

.bg-whites-main {
    background-color: #35FFE0 !important;
}

.bg-whites-secondary {
    background-color: #32BEA6 !important;
}

.bg-blacks-main {
    background-color: #2C3E50 !important;
}

.bg-blacks-secondary {
    background-color: #484848 !important;
}