body {
    height: 1000px;
}

#carousel-img {
    height: 120vh;
}

#cust-carousel-caption {
    font-size: 2.5rem;

    background-color: #2C3E50;
}

.wrapper {
    width: 25vw;
}

#img-card {
    width: 100%;
    height: 15vw;
}

@media screen and (max-width: 768px) {    
    #logo-simpru {
        width: 126px;
        height: 32.87px;
    }

    #carousel-img {
        height: 60vh;
    }

    #cust-carousel-caption {
        font-size: 1.5rem;
    }

    .wrapper {
        width: 70vw;
    }

    #img-card {
        height: 35vh;
    }
}
